
<form [formGroup]="filterForm!" class="input-container">
  <div class="filter-row">
    <div class="filter-column">
      <div class="input-row">
        <div class="input-wrapper">
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="Pendiente">Pendiente</mat-option>
              <mat-option value="Aceptado">Aceptado</mat-option>
              <mat-option value="Rechazado">Rechazado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="filter-row">
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Fecha Inicial:</mat-label>
            <input matInput type="date" formControlName="dateFrom">
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Fecha Final:</mat-label>
            <input matInput type="date" formControlName="dateTo">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="button-column">
      <div class="button-wrapper">
        <button mat-raised-button color="primary" (click)="onFilter()">Filtrar</button>
      </div>
      <div class="button-wrapper">
        <button mat-raised-button color="warn" (click)="onClear()">Borrar</button>
      </div>

    </div>
  </div>

</form>
<table mat-table [dataSource]="this.dataSource" matSort (matSortChange)="onSortChange($event)">

  <ng-container matColumnDef="id" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Solicitud </th>
    <td mat-cell *matCellDef="let element"> {{ element.date | date: 'dd/MM/yyyy' }} </td>
  </ng-container>

  <ng-container matColumnDef="request_state">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de Solicitud </th>
    <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
  </ng-container>

  <ng-container matColumnDef="request_detail">
    <th mat-header-cell *matHeaderCellDef> Detalle de la solicitud </th>

    <td mat-cell *matCellDef="let element">
      <button mat-fab extended (click)="openDialog(element)">
        <mat-icon>file_copy</mat-icon>
        Ver Detalle
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageIndex]="page" [length]="totalElements" [pageSize]="size" [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)" (pageSize)="onPageSizeChange($event)" showFirstLastButtons></mat-paginator>
