<div class="schedule">
    <app-schedule-day title='Lunes' [classItems]="mondayItems"> </app-schedule-day>
    <app-schedule-day title='Martes' [classItems]="tuesdayItems"> </app-schedule-day>
    <app-schedule-day title='Miércoles' [classItems]="wednesdayItems"> </app-schedule-day>
    <app-schedule-day title='Jueves' [classItems]="thursdayItems"> </app-schedule-day>
    <app-schedule-day title='Viernes' [classItems]="fridayItems"> </app-schedule-day>
    <app-schedule-day title='Sábado' [classItems]="saturdayItems"> </app-schedule-day>
</div>
