<div *ngIf="kardex">
  <div class="mat-elevation-z8" *ngFor="let semester of kardex">
    <div class="info-container">
      <p>Periodo Académico: {{ semester.academicPeriod }}</p>
      <p>Del: {{ semester.initSemester }} al {{ semester.endSemester | date:'dd/MM/yyyy' }}</p>
      <p>Carrera: {{ semester.career }}</p>
    </div>
    <table mat-table [dataSource]="semester.subjects" matSort>

      <ng-container matColumnDef="site">
        <th mat-header-cell *matHeaderCellDef> Sede </th>
        <td mat-cell *matCellDef="let element"> {{ element.site }} </td>
      </ng-container>

      <ng-container matColumnDef="careerSail">
        <th mat-header-cell *matHeaderCellDef> Sigla de la Carrera </th>
        <td mat-cell *matCellDef="let element"> {{ element.careerSail }} </td>
      </ng-container>

      <ng-container matColumnDef="subjectSail">
        <th mat-header-cell *matHeaderCellDef> Sigla de la Asignatura </th>
        <td mat-cell *matCellDef="let element"> {{ element.subjectSail }} </td>
      </ng-container>

      <ng-container matColumnDef="subjectName">
        <th mat-header-cell *matHeaderCellDef> Nombre de la Asignatura </th>
        <td mat-cell *matCellDef="let element"> {{ element.subjectName }} </td>
      </ng-container>

      <ng-container matColumnDef="parallel">
        <th mat-header-cell *matHeaderCellDef> Paralelo </th>
        <td mat-cell *matCellDef="let element"> {{ element.parallel }} </td>
      </ng-container>

      <ng-container matColumnDef="academicCredits">
        <th mat-header-cell *matHeaderCellDef> Creditos Academicos </th>
        <td mat-cell *matCellDef="let element"> {{ element.academicCredits }} </td>
      </ng-container>

      <ng-container matColumnDef="economicCredits">
        <th mat-header-cell *matHeaderCellDef> Creditos Economicos </th>
        <td mat-cell *matCellDef="let element"> {{ element.economicCredits }} </td>
      </ng-container>

      <ng-container matColumnDef="continuousScore">
        <th mat-header-cell *matHeaderCellDef> Evaluacion Continua </th>
        <td mat-cell *matCellDef="let element"> {{ element.continuousScore }} </td>
      </ng-container>

      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef> Referencia </th>
        <td mat-cell *matCellDef="let element"> {{ element.reference.semester }}-{{ element.reference.year }} Turno {{ element.reference.turn }} </td>
      </ng-container>

      <ng-container matColumnDef="finalTestScore">
        <th mat-header-cell *matHeaderCellDef> Nota de Evaluacion Final </th>
        <td mat-cell *matCellDef="let element"> {{ element.finalTestScore }} </td>
      </ng-container>

      <ng-container matColumnDef="finalScore">
        <th mat-header-cell *matHeaderCellDef> Nota Final </th>
        <td mat-cell *matCellDef="let element"> {{ element.finalScore }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


<app-brief-kardex *ngIf="kardex"></app-brief-kardex>

