<div class="title">
    Planes de materia
</div>
<div class="subtitle">
    <mat-form-field>
        <mat-label>Materias</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="onPlanSelectedChange($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let plan of plans" value="{{ plan.id }}" > {{ plan.name }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="form-main" *ngIf="selected && selected != 0">
    <mat-form-field>
      <mat-label>Codigo de Materia</mat-label>
      <input matInput value="{{selectedPlan.code}}" disabled>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput value="{{selectedPlan.description}}" (change)="updateDescription($event)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Departamento</mat-label>
        <input matInput value="{{selectedPlan.department}}" (change)="updateDepartment($event)">
    </mat-form-field>
</div>

<button mat-raised-button *ngIf="selected && selected != 0" (click)="addRow()" class="demo-button">
    + Agregar
</button>
<button mat-raised-button *ngIf="selected && selected != 0" color="primary" (click)="onDownloadClick()">Descargar</button>

<table mat-table *ngIf="selected && selected != 0" [dataSource]="selectedPlan.subjectPlanClasses" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="row">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.row}}</td>
    </ng-container>
  
    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef>Detalle</th>
      <td mat-cell *matCellDef="let element">

        <mat-form-field>
            <input matInput id={{element.row}} value="{{element.detail}}" (change)="updateDetail($event)">
        </mat-form-field>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteRow(element.row)">
            <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button *ngIf="selected && selected != 0" (click)="savePlan()" class="demo-button">
    Actualizar
</button>
  