<mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="Concepto">
    <mat-header-cell *matHeaderCellDef>Concepto</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.concept }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Valor">
    <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.value }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
