<table mat-table [dataSource]="this.dataSource" matSort (matSortChange)="onSortChange($event)">

  <ng-container matColumnDef="requestId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
  </ng-container>

  <ng-container matColumnDef="requestDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Solicitud </th>
    <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
  </ng-container>

  <ng-container matColumnDef="requestStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de Solicitud </th>
    <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
  </ng-container>

  <ng-container matColumnDef="requestDetail">
    <th mat-header-cell *matHeaderCellDef> Detalle de la solicitud </th>

    <td mat-cell *matCellDef="let element">
      <button mat-fab extended (click)="openDialog(element)">
        <mat-icon>file_copy</mat-icon>
        Ver Detalle
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageIndex]="page" [length]="totalElements" [pageSize]="size" [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)" (pageSize)="onPageSizeChange($event)" showFirstLastButtons></mat-paginator>

<button mat-fab extended (click)='sendToNewRequest()'>
  <mat-icon>add</mat-icon>
</button>
