<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo">
      <img src="assets/images/logo.png" alt="UCB">
      <h2>Modulo de Reportes</h2>
    </div>
    <div class="spacer"></div>
    <mat-menu #menuStudent="matMenu">
      <a routerLink="/student/kardex" mat-button class="navbar-option">
        <mat-icon>table_view</mat-icon>
        Kardex Estudiante
      </a>
      <a routerLink="/student/schedule" mat-button class="navbar-option">
        <mat-icon>calendar_month</mat-icon>
        Horario Estudiante
      </a>
      <a routerLink="/student/request/kardex" mat-button class="navbar-option">
        <mat-icon>folder_open</mat-icon>
        Solicitud de Kardex
      </a>
    </mat-menu>
    <a [matMenuTriggerFor]="menuStudent" mat-button class="navbar-option">
      <mat-icon>table_view</mat-icon>
      Estudiante
    </a>

    <mat-menu #menuProfessor="matMenu">
      <a routerLink="/professor/schedule" mat-button class="navbar-option">
        <mat-icon>calendar_month</mat-icon>
        Horario Profesor
      </a>
      <a routerLink="/student/list" mat-button class="navbar-option">
        <mat-icon>description</mat-icon>
        Lista Estudiante
      </a>
      <a routerLink="/student/attendance" mat-button class="navbar-option">
        <mat-icon>folder_open</mat-icon>
        Asistencia Estudiante
      </a>
    </mat-menu>
    <a [matMenuTriggerFor]="menuProfessor" mat-button class="navbar-option">
      <mat-icon>table_view</mat-icon>
      Profesor
    </a>

    <mat-menu #menuDashboard="matMenu">
      <a routerLink="/director/abandon-rates" mat-button class="navbar-option">
        <mat-icon>fact_check</mat-icon>
        Indices de deserción
      </a>
      <a routerLink="/director/professors-evaluations" mat-button class="navbar-option">
        <mat-icon>fact_check</mat-icon>
        Resumen Evaluacion Docente
      </a>
      <a routerLink="/director/students-averages" mat-button class="navbar-option">
        <mat-icon>fact_check</mat-icon>
        Mejores estudiantes
      </a>
      <a routerLink="/director/academic-performance" mat-button class="navbar-option">
        <mat-icon>fact_check</mat-icon>
        Rendimiento Academico
      </a>
      <a routerLink="/director/professor-performance" mat-button class="navbar-option">
        <mat-icon>fact_check</mat-icon>
        Evaluacion Docente
      </a>
    </mat-menu>
    <a [matMenuTriggerFor]="menuDashboard" mat-button class="navbar-option">
      <mat-icon>fact_check</mat-icon>
      Director de carrera
    </a>

    <mat-menu #menuDashboard="matMenu">
      <a routerLink="/professor/continuous-evaluation" mat-button class="navbar-option">
        <mat-icon>fact_check</mat-icon>
        Evaluacion continua
      </a>
      <a routerLink="/professor/final-evaluation" mat-button class="navbar-option">
        <mat-icon>fact_check</mat-icon>
        Evaluacion final
      </a>
      <a routerLink="/professor/second-term-evaluation" mat-button class="navbar-option">
        <mat-icon>fact_check</mat-icon>
        Evaluacion segundo turno
      </a>
    </mat-menu>
    <a [matMenuTriggerFor]="menuDashboard" mat-button class="navbar-option">
      <mat-icon>fact_check</mat-icon>
      Evaluaciones
    </a>

    <a routerLink="/admin" mat-button class="navbar-option">
      <mat-icon>person</mat-icon>
      Administrador
    </a>
  </mat-toolbar-row>
</mat-toolbar>
