<div class="title">
    Evaluación Docente
</div>

<div class="card-container">
    <mat-card class="professor-card" *ngFor="let item of list">
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>Rango: {{item.rank}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="department-title" *ngFor="let department of item.departments"> {{ department }} </div>
            <p> Cantidad de materias: {{ item.subjectCount}} </p>
            <p> Calificación promedio: {{ item.average }}</p>
        </mat-card-content>
    </mat-card>
</div>

  