.custom-card
  color: white
  margin: 30px !important
  display: flex
  flex-direction: column
  justify-content: center
  //width agroup all children
  width: 105%

  padding: 20px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)

.spacer
  flex: 1 1 auto

.mat-column-index
  flex: 0 0 10%

.mat-column-name
  flex: 0 0 30%

.mat-column-date
  height: 100px
  padding: 50px 0 0 0
  text-align: center

.date-header
  transform: rotate(-90deg)

