<mat-card class="custom-card" *ngIf="subjectDetail">
    <mat-card-header>
        <mat-card-title>DETALLE DE LA ASIGNATURA</mat-card-title>
    </mat-card-header>
    <mat-card-content class="custom-card-content">
        <mat-grid-list cols="2" rows="4" rowHeight="30px" gutterSize="10px">
            <mat-grid-tile>
                <h3>ASIGNATURA: {{ subjectDetail!.subjectCode | uppercase}} {{ subjectDetail!.subjectName | uppercase}}
                    [PAR. {{ subjectDetail!.parallel }}]
                </h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <h3>SEMESTRE: {{ subjectDetail!.semesterName | uppercase}}</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <h3>NÚMERO DE CRÉDITOS: {{ subjectDetail!.credits }}</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <h3>FECHA DE INICIO: {{ subjectDetail!.startDate | date: 'dd-MM-yyyy'}}</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <h3>DOCENTE: {{ subjectDetail!.professor | uppercase}}</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <h3>FECHA DE FIN: {{ subjectDetail!.endDate | date: 'dd-MM-yyyy' }}</h3>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>

<mat-card class="custom-card" *ngIf="subjectDetail">
    <mat-card-header>
        <mat-card-title>ESTUDIANTES INSCRITOS</mat-card-title>
        <div class="spacer"></div>
        <button mat-raised-button color="primary" (click)="downloadCSV()">Descargar como CSV</button>
    </mat-card-header>
    <mat-card-content class="custom-card-content">
        <mat-table [dataSource]="studentList!">

            <ng-container matColumnDef="index">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let student; let i = index"> {{i + 1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ci">
                <mat-header-cell *matHeaderCellDef> CI </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.ci}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> APELLIDOS Y NOMBRES </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.lastName}} {{student.firstName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> CORREO </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef> TELÉFONO </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.phone}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="major">
                <mat-header-cell *matHeaderCellDef> CARRERA </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.major}} </mat-cell>
            </ng-container>'

            <ng-container matColumnDef="isActive">
                <mat-header-cell *matHeaderCellDef> ABANDONO </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.isActive ? 'NO' : 'SI'}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'inactive': !row.isActive}"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>