<div class="title">
    Índices de deserción
</div>
<div class="dashboard">
    <div id="grade">
        <apx-chart
            [series]="gradeOptions.series!"
            [chart]="gradeOptions.chart!"
            [labels]="gradeOptions.labels!"
            [responsive]="gradeOptions.responsive!"
        ></apx-chart>
    </div>
    <div id="month">
        <apx-chart
            [series]="monthOptions.series!"
            [chart]="monthOptions.chart!"
            [dataLabels]="monthOptions.dataLabels!"
            [plotOptions]="monthOptions.plotOptions!"
            [yaxis]="monthOptions.yaxis!"
            [xaxis]="monthOptions.xaxis!"
            [legend]="monthOptions.legend!"
            [colors]="monthOptions.colors!"
            [grid]="monthOptions.grid!"
        ></apx-chart>
    </div>

    <div id="comparison">
        <apx-chart
            [series]="comparisonOptions.series!"
            [chart]="comparisonOptions.chart!"
            [dataLabels]="comparisonOptions.dataLabels!"
            [plotOptions]="comparisonOptions.plotOptions!"
            [yaxis]="comparisonOptions.yaxis!"
            [xaxis]="comparisonOptions.xaxis!"
            [legend]="comparisonOptions.legend!"
            [colors]="comparisonOptions.colors!"
            [grid]="comparisonOptions.grid!"
        ></apx-chart>
    </div>
  </div>